- create_id = controller._crud_create_id(key)
.collapse{id: create_id}
  .box-list.box-list-edit.create_partial
    = render controller._crud_list_option(key, :new), model: create_model

.box-list{:'data-ibs-clickable' => 'a'}
  %p= title
  .pull-right
    = icon_link_to :'icc-add', '', 'javascript:', {:class => 'blue', :'data-toggle'=>"collapse", :'data-target'=>"##{create_id}"}
