%table.table.items
  %thead
    %tr
      %th
        = title
        - if create_path
          %a.pull-right{:href => create_path}
            = "Create #{key.to_s.humanize.downcase}"
            .btn-icon.blue
              %i.icc-add
  %tbody
    = yield

