%table.table.items
  %thead
    %tr
      %th
        = title
        - if create_path
          %a.button-icon.blue.pull-right{:href => create_path}
            = "Create #{key.to_s.humanize.downcase}"
            %span.btn-icon
              %i.icc-add
  %tbody
    = yield

