%table.table.items
  %thead
    %tr
      %th
        = title
        - if create_path
          = icon_link_to :'icc-add', '', create_path, class: 'blue pull-right', before: "Create #{key.to_s.humanize.downcase}"
  %tbody
    = yield

