.navbar.top
  .navbar-inner
    .container-fluid
      .row-fluid
        .span3
          %a{:href => root_url}
            %img.brand{:src => "/assets/instedd-bootstrap/header/InSTEDDPlatform.png"}
        .span6.acenter
          - if content_for?(:top_nav_bar)
            .nav-collapse.collapse
              %ul.NavMenu.tabbeable
                = yield :top_nav_bar
        .span3
          .pull-right
            %a.btn-icon{:href => "#"}
              %i.icf-settings
            %a.btn-icon{:href => "#"}
              %i.icf-configuration
          .btn-group.pull-right
            %a.btn.btn-link.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
              John Doe
              %span.caret
            %ul.dropdown-menu
              %li
                %a{:href => "#"} My Account
              %li.divider
              %li
                %a{:href => "#"} Log Out
