//
// Breadcrumb
// --------------------------------------------------

.breadcrumb {
  background: #d0d0d0;
  font-size: 0;
  padding: 0;
  margin-top: 18px;
  border-bottom: 1px solid #d0d0d0;
  border-left: 2px solid #eeeeee;
  overflow: hidden;
  height: 21px;
  @include border-radius(3px);
  li {
    background: url(image-path("instedd-bootstrap/breadCrumbs/item.png")) no-repeat left top;
    font-size: 14px;
    line-height: 20px;
    vertical-align: top;
    margin-left: -5px;
    padding: 0 8px 0 10px;
    height: 22px;
    a {
      color: $black;
      text-decoration: none !important;
    }
    &:hover {
      background-position: left -30px;
      & + li span {
        background-position:right -30px;
      }
    }
    &:active {
      background-position: left -60px;
      & + li span {
        background-position:right -60px;
      }
    }
    &:first-child {
      background-position:right top;
      padding-left: 14px !important;
      &:hover {
        background-position:right -30px;
      }
      &:active {
        background-position:right -60px;
      }
      span {
        display: none !important;
      }
    }
    &.active {
      background: none;
      padding-left: 0;
      color: $gray;
      text-shadow: none;
      span {
        background: url(image-path("instedd-bootstrap/breadCrumbs/item.png")) no-repeat right top;
        display: inline-block;
        vertical-align: top;
        width: 8px;
        height: 21px;
        margin-right: 4px;
      }
    }
  }
}


