//
// Icon Buttons
// --------------------------------------------------

.btn-icon {
  text-decoration: none;
  display: inline-block;
  color: #555555;

  span {
    display: inline-block;
    vertical-align: middle;

    &:empty {
      display: none;
    }
  }

  .ic-wrapper {
    @extend .btn;
    @include border-radius(4px);
    @include box-shadow( inset 0 9px 6px rgba(255,255,255,.65), 0 1px 3px rgba(0,0,0,.5));
    @include gradient-vertical(#f1f1f1, #c8c8c8);
    @include box-sizing(border-box);
    padding: 0;
    border: 1px solid $white;
    text-align: center;
  }

  &:hover, &:active {
    color:#000000;
  }

  &:hover .ic-wrapper {
    @include box-shadow(inset 0 9px 6px rgba(255, 255, 255, 0.4), 0 1px 3px rgba(0, 0, 0, 0.5));
    @include gradient-vertical(darken(#f1f1f1, 7%), darken(#c8c8c8, 5%));
    background-position: 0 0 !important;
  }

  &:active .ic-wrapper {
    background: #d0d0d0;
    @include box-shadow(inset 0.5px 0.866px 1px 0px rgba(0, 0, 0, 0.4)!important);
    border-color: #d0d0d0;
    i {
      margin: 1px -1px -1px 1px;
    }
  }

  &.blue {
    color: #0088cc;
    .ic-wrapper {
      @extend .btn-primary;
      @include box-shadow( 0 1px 3px rgba(0,0,0,.5));
      border: 1px solid #1f86c8;
    }
    &:hover .ic-wrapper {
      @include gradient-vertical(darken($btnPrimaryBackground, 7%), darken($btnPrimaryBackgroundHighlight, 5%));
    }
    &:active .ic-wrapper {
      background: darken($btnPrimaryBackground, 12%);
    }
  }

  &.red {
    .ic-wrapper {
      @extend .btn-danger;
      @include box-shadow( 0 1px 3px rgba(0,0,0,.5));
      border: 1px solid #c90000;
    }
    &:hover .ic-wrapper {
      @include gradient-vertical(darken($btnDangerBackground, 7%), darken($btnDangerBackgroundHighlight, 5%));
    }
    &:active .ic-wrapper {
      background: $btnDangerBackground;
    }
  }

  &.green {
    .ic-wrapper {
      @extend .btn-success;
      @include box-shadow( 0 1px 3px rgba(0,0,0,.5));
      border: 1px solid #8cb748;
    }
    &:hover .ic-wrapper {
      @include gradient-vertical(darken($btnSuccessBackground, 7%), darken($btnSuccessBackgroundHighlight, 5%));
    }
    &:active .ic-wrapper {
      background: $btnSuccessBackground;
    }
  }

  &.plain .ic-wrapper {
    background: $white;
    border: 1px solid #E1E1E1;
    @include box-shadow(none);
  }

  &.flat {
    .ic-wrapper {
      background: #d0d0d0;
      border-color: #d0d0d0;
      @include box-shadow( 0 1px 3px rgba(0,0,0,.5));
    }
    &:hover .ic-wrapper {
      background: darken(#d0d0d0, 6%);
    }
  }
}
