//
// Collapsible form for
// --------------------------------------------------

.collapsible_form_for_container {
  position: relative;

  .expand_button {
    position: absolute;
    top: 0px;
  }

  .collapsible {
    top: 0px;
    background: #d0d0d0;

    .panel-body {
      padding: 5px;
    }

    @include border-radius(3px);

    hr {
      border-bottom: 0;
    }

    form {
      white-space: nowrap;
    }

    .collapse {
      overflow: visible;
    }

    .action-description {
      margin-left: 5px;
      margin-bottom: 15px;
      div {
        display: inline-block;
      }
    }

    .file-upload {
      position: relative;
      overflow: hidden;
      margin: 10px;
      display: inline;
    }

    .file-upload input.choose {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      padding: 0;
      font-size: 20px;
      cursor: pointer;
      opacity: 0;
      filter: alpha(opacity=0);
    }
  }
}
