//-------------------- Fonts -----------------------
//--------------------------------------------------
@font-face {
    font-family: 'TheSansPlain';
    src: font-url('thesansp-webfont.eot');
    src: font-url('thesansp-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('thesansp-webfont.woff') format('woff'),
         font-url('thesansp-webfont.ttf') format('truetype'),
         font-url('thesansp-webfont.svg#clarendon_btbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TheSansBlack';
    src: font-url('thesanbp-webfont.eot');
    src: font-url('thesanbp-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('thesanbp-webfont.woff') format('woff'),
         font-url('thesanbp-webfont.ttf') format('truetype'),
         font-url('thesanbp-webfont.svg#clarendon_btroman') format('svg');
    font-weight: normal;
    font-style: normal;

}

//
// Layout
// --------------------------------------------------
html { height: 100% }
body {
  background: url(image-path("instedd-bootstrap/interface/backbody.png")) repeat-x top;
  height: 100%;
  font-size: 0.85em;

  &.smallfooter {
    .content {
      padding-bottom: 5em;
    }
    .footer .top {
      display: none;
    }
    .footer .row-fluid {
      border-top: none;
    }
  }

  &.noheader {
    background: none;

    .navbar.top {
      display: none;
    }
  }

  &.centred {
    .navbar.top,
    .app-header,
    .content,
    .footer .container-fluid {
      width: 1000px;
      margin: 0 auto;
    }
  }
}

.wrapper {
  min-height: 100%;
  position: relative;
}


.app-header {
    background: url(image-path("instedd-bootstrap/footer/shadow.png")) no-repeat center bottom;
    padding: 1em 0 2em;
    height: 60px;
}

.content {
  padding-top: 1em;
  padding-bottom: 14em;
}

.footer {
  font-size: .9em;
  color: #777777;
  width: 100%;
  position: absolute;
  bottom: 0px;
  border-top: 1px solid #CCCCCC;
  padding-top: .4em;
  @include gradient-vertical(#FEFEFE, #D2D2D2);

  .container-fluid {
    background: url(image-path("instedd-bootstrap/footer/shadow.png")) no-repeat center top;

    .row-fluid {
      border-top: 1px solid #F0F0F0;
      padding-top: .7em;
      &.top {
        padding: .4em 0 .5em;
        border-bottom: 1px solid #D0D0D0;
        border-top: none;
      }
    }
  }

  a {
    color: #777777;
    text-decoration: none;
    margin:0 2px;
    &:hover {
      color:$black;
    }
  }

  #instedd-footer {
    .footer-next {
      background: url(image-path("instedd-bootstrap/footer/next.png")) transparent;
      float: right;
      width: 20px;
      height: 79px;
      position: relative;
      top: -80px;
      padding-left: 0px !important;
      margin: 0;
      &:hover {
        right: -2px;
      }
    }

    .footer-prev {
      background: url(image-path("instedd-bootstrap/footer/previous.png")) transparent;
      float: left;
      width: 20px;
      height: 79px;
      position: relative;
      top: -80px;
      padding-left: 0px !important;
      margin: 0;
      &:hover {
        left: -2px;
      }
    }

    .jcarousel-clip, .jcarousel-container {
      height: 79px;
      overflow: hidden;
    }

    .jcarousel-container, .jcarousel-clip {
      width: 620px;
    }

    .jcarousel-container {
      background-image: url(image-path("instedd-bootstrap/footer/container.png"));
    }

    .jcarousel-item {
      width: 54px;
      margin:3px;
      text-align: center;
    }

    .jcarousel-item a {
      height: 76px;
      width: 56px;
      display: block;
      outline: 0;
      text-decoration: none;
     // @include button-states(90px);
    }

    .tool-name {
      display: none;
    }

    .jcarousel-item.selected a, .jcarousel-item.selected a:hover {
      background-position: 0px -180px;
      cursor: default;
    }
  }

  #geochat a {
    background-image: url(image-path("instedd-bootstrap/footer/buttons/geoChat.png"));
  }

  #riff a {
    background-image: url(image-path("instedd-bootstrap/footer/buttons/riff.png"));
  }

  #taskMeUp a {
    background-image: url(image-path("instedd-bootstrap/footer/buttons/taskMeUp.png"));
  }

  #resourceMap a {
    background-image: url(image-path("instedd-bootstrap/footer/buttons/resourceMap.png"));
  }

  #nuntium a {
    background-image: url(image-path("instedd-bootstrap/footer/buttons/nuntium.png"));
  }

  #nuntiumLocalGateway a {
    background-image: url(image-path("instedd-bootstrap/footer/buttons/nuntiumLocalGateway.png"));
  }

  #localGateway a {
    background-image: url(image-path("instedd-bootstrap/footer/buttons/localGateway.png"));
  }

  #seentags a {
    background-image: url(image-path("instedd-bootstrap/footer/buttons/seentags.png"));
  }

  #mesh4X a {
    background-image: url(image-path("instedd-bootstrap/footer/buttons/mesh4x.png"));
  }

  #reportingWheel a {
    background-image: url(image-path("instedd-bootstrap/footer/buttons/reportingWheel.png"));
  }

  #verboice a {
    background-image: url(image-path("instedd-bootstrap/footer/buttons/verboice.png"));
  }

  #pollit a {
    background-image: url(image-path("instedd-bootstrap/footer/buttons/pollit.png"));
  }

  #veegilo a {
    background-image: url(image-path("instedd-bootstrap/footer/buttons/veegilo.png"));
  }

  #remindem a {
    background-image: url(image-path("instedd-bootstrap/footer/buttons/remindem.png"));
  }

  #mbuilder a {
    background-image: url(image-path("instedd-bootstrap/footer/buttons/mbuilder.png"));
  }

  #version {
    margin-left: 1em;
    color: #777777;
  }
}


.app-logo {
  @include border-radius(50%);
  background: #eeeeee;
  line-height: 100px;
  text-align: center;
  display: inline-block;
  margin: 35px auto;
  width: 100px;
  height: 100px;

  img {
    max-width: 100%;
  }
}

//
// CLASSES and HACKS
// --------------------------------------------------
/* ---------- to reorder --------------*/


a:hover {
  text-decoration: none;
}

.btn-grouped {
  .btn-icon {
    margin: 0 3px 5px 0;
    &:last-child {
      margin-left:0;
    }
  }
  .btn-iconlarge {
    margin: 0 5px 7px 0;
    &:last-child {
      margin-left:0;
    }
  }
}

.acenter { text-align: center !important }
.aright {text-align: right !important }

ul.clist {
  display: table;
  li {
    padding:0;
    border-bottom: 1px solid $grayLighter;
    input {
      margin: 0;
      border: none;
      @include box-shadow(none);
    }
    &:last-child {
      padding: .4em 0;
      border-bottom: none;
      input {
        /*@extend .input;*/
      }
    }
    .clist-add,
    .clist-remove,
    .handle {
      /*@extend .ic-plain;*/
      margin:0 0 .2em .3em;
    }
  }
}

.box-list {
  @include border-radius(5px);
  @include box-shadow(1px 1px 3px 0px rgba(0,0,0,0.5));
  @include box-sizing(border-box);
  background: #d0d0d0;
  padding: 10px;
  margin-bottom: 10px;

  P {
    display: inline-block;
    vertical-align: top;
    width: 95%;
    margin-left: 5PX;
  }
}

.superblyTagfieldDiv {
  /*@extend .input;*/
}
.superblyTagInput {
  border: none !important;
  outline: none !important;
  padding: 0px !important;
}
.superblyTagfieldClearer{ clear: both }

ul.superblyTagItems  li{
  list-style: none;
  float: left;
  padding: 1px 2px 2px 4px;
  margin: 2px 1px 0px 1px;
  position: relative;
  @include border-radius(2px);
}

.superblySuggestItems{
  min-width:100px;
  position: absolute;
  left: 0;
  top: 30px;
  z-index: 100;
  background:#FFFFFF;
  padding:2px;
  -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;
}

.superblySuggestItems .superblySuggestItem{
  padding:3px 5px;
  list-style: none;
  float: none;
    color: #000000;
  margin:2px;
  -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px
}

.superblySuggestItems .superblySuggestItem:hover {
  cursor: pointer; background:#cccccc;
}

.superblySuggestItems .selected{
  background-color: #cccccc;
}

.superblySuggestItems:empty {

}


.flash {
  position: absolute;
  top: 0px;
  overflow: hidden;
  display: none;
}

.flash > div {
  white-space: nowrap;
  padding: 5px 15px;
  display: inline-block;
  border-radius: 0px 0px 5px 5px;
  position: relative;
  margin: 0px 2px 2px 2px;
}

.flash_notice > div {
  background-color: #e6faa9;
  color: $green;
}

.flash_error div {
  background-color: #ffee9e;
  color: $red;
}




/* ----- Wajbar ----- */
textarea.ux-text { width: inherit; padding:2px 2px; resize:none; }

.TaskBox {
  border: 1px solid #dddddd;
  background:$grayLighter;
  font-size:10px;
  font-weight: bold;
  letter-spacing:-0.05em;
  padding:0px 0px 1px 0px;
  margin:0px 1px 0 1px;
  text-align:center;
  @include border-radius(3px);
  white-space:nowrap;
  div {
    display: inline-block;
    vertical-align:middle;
    margin-left:-2px;
    &.L {
      color:$grayDark;
      width:4%;
      text-align:left;
      padding-left:0px;
    }
    &.R {
      color:$orange;
      width:4%;
      text-align:right;
      padding-right:0px;
    }
    &.M {
      background:$orange;
      width:88%;
      margin:0 2px
    }
    span {
      background:$grayDark;
      height:4px;
      display:block;
      width:80%
    }
  }
  &.readonly div.R { color:#d0d0d0; }
  &.readonly div.M { background:#d0d0d0; }
  &.readonly div.L { color:$grayLight; }
  &.readonly div span { background:$grayLight; }
}
.well-gray .TaskBox { background: white; border-color: white; }




/* ----- Numeric Stepper ----- */
.ux-nstep {
  position:relative;
  display:inline;
  .kup {
    background-image:url(image-path("instedd-bootstrap/numericStepper/up.png"));
    background-color:transparent;
    width:15px; height:12px;
    cursor:pointer; border:none;
    position:absolute; right:3px; top:-7px;
  }
  .kdown {
    background-image:url(image-path("instedd-bootstrap/numericStepper/down.png"));
    background-color:transparent;
    width:15px; height:12px;
    cursor:pointer; border:none;
    position:absolute; right:3px; bottom:-1px
  }
}




/* ------------ State Display ------------------- */
.StateDisplay { background:#d0d0d0; color: #555555; text-align:center }
.StateDisplay .values { display:inline-block; width:50%; vertical-align:middle }
.StateDisplay button { display:inline-block; vertical-align:middle; width:45%; white-space:nowrap }
.values { font-size:11px; letter-spacing:-0.02em; line-height:9px; padding: 2px 0; text-align: center; white-space:nowrap }
.values div span { display:block }
.values div.U { text-align:left }
.values div.U span.big { font-size:22px; line-height:18px  }
.values div.L { color:#777777; text-align:left; padding-bottom:3px; margin-left:2px; float:left }
.values div.R { color:#f86808; text-align:right; padding-bottom:3px; float:right }
.values div.L.empty span, .values div.R.empty span { color:#f86808 }
.values div.M { background: #f86808; margin-left:2px }
.values div.M span { background:#777777; height:4px; display:block; width:40% }
.values div.M.empty span { width:0% }
.values span.alert { background:url(image-path("instedd-bootstrap/icons/18/orange/alert.png")) no-repeat center 3px; width:18px; height:18px }
.values span.tilde { background:url(image-path("instedd-bootstrap/icons/misc/grey/tilde.png")) no-repeat center 9px; width:11px; height:18px }

.smvalues { background:#d0d0d0; font-size:11px; letter-spacing:-0.02em; line-height:9px; padding:3px; text-align:center; vertical-align:baseline; white-space:nowrap; width:50px; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; border:1px solid #DDDDDD }
.smvalues div.L { color:#777777; text-align:left; padding-bottom:3px; float:left }
.smvalues div.R { color:#f86808; text-align:right; padding-bottom:3px; float:right }
.smvalues div.L span, .values div.R span { display:block }
.smvalues div.M { background:#f86808; display:block !important}
.smvalues div.M span { background: #777777; height:4px; display:block; width:40% }


/* ------------ Tabs ------------------- */
ul.nav-tabs a {
    color: inherit;
}
.tabbable.boxed {
  ul {
    border-bottom: none;
    padding-left: 10px;
  }
  .tab-content {
    @extend .well-white;
    margin-top: -15px;
  }

  &.tabs-below {
    ul {
      border-top: none;
      margin-top: -19px;
    }
    .tab-content {
      margin-top: 0;
    }
  }
}

/* ------------ Steps-Line ------------------- */
.steps-line {
  @extend .well-plain;
  @include box-sizing(border-box);
  width: 100%;
  padding:25px;
  position:relative;
  .progress {
    @include box-sizing(border-box);
    @include box-shadow(inset 0 1px 2px rgba(0, 0, 0, 0.3));
    background: $white;
    height:5px;
    margin: 0 10px;

    span {
      @include transition(all ease-out .2s);
      background: #739524;
      display: inline-block;
      height: 2px;
      margin-top: 2px;
      opacity: 0.9;
      vertical-align: top;
    }
  }
  ul {
    @include clearfix();
    font-size: 0;
    margin: 0;
    padding: 0;
    li {
      @include box-sizing(border-box);
      font-size: 13px;
      list-style: none;
      margin: 0;
      padding: 0 0 15px 0;
      min-height: 30px;
      float: left;
      position: relative;
      width: 0px;
      overflow: visible;
      margin-left: 25%; // 100% / (n)li-1

      span {
        position: absolute;
        white-space: nowrap;
        text-align: center;
        width: 60px;
        margin: 0 0 0 -30px;
      }

      &:before {
        content: '';
        display: table;
        @include border-radius(50%);
        @include box-shadow(inset 0 1px 2px rgba(0, 0, 0, 0.15));
        background: $white;
        width: 12px;
        height: 12px;
        position: absolute;
        bottom: -9px;
        margin-left: -6px;
      }
      &:first-child {
        margin-left: 0;
        &:before {
          margin-left: 0;
        }
      }
      &:last-child {
        &:before {
          margin-left: -20px;
        }
        span {
          margin-left: -50px;
        }
      }
      &.active {
        color: #739524;
        &:after {
          content: '';
          display: table;
          @include border-radius(50%);
          background: #739524;
          width: 7px;
          height: 7px;
          position: absolute;
          bottom: -6px;
          margin-left: -3px;
          z-index: 1;
        }
        &:first-child:after {
          margin-left: 3px;
        }
        &:last-child:after {
          margin-left: -17px;
        }
      }
    }
  }
}

.home {
  h1 {
    font-family: TheSansBlack, Arial, Helvetica, sans-serif;
    font-size: 46px;
    line-height: 47px;
    color: #ff6600;
    margin: 10px 0;

    small {
      font-family: TheSansPlain, Arial, Helvetica, sans-serif;
      font-size: 24px;
      color: inherit;
      line-height: 24px;
      margin-bottom: 18px;
      margin-top: 10px;
      display: block;
    }
  }
}
