.row-fluid.show-grid
  .span1 1
  .span1 1
  .span1 1
  .span1 1
  .span1 1
  .span1 1
  .span1 1
  .span1 1
  .span1 1
  .span1 1
  .span1 1
  .span1 1
.row-fluid.show-grid
  .span4 4
  .span4 4
  .span4 4
.row-fluid.show-grid
  .span4 4
  .span8 8
.row-fluid.show-grid
  .span6 6
  .span6 6
.row-fluid.show-grid
  .span12 12
