.span12
  %h1 UI components

  %hr

  %h3 Text fields

  %input.input-xlarge{:type => "text"}

  %br

  %input.input-xlarge{:type => "text", :readonly => "readonly"}

  %hr

  %h3 Dropdown

  %select.input-xlarge
    %option{:value => "1"} iLab
    %option{:value => "2"} Instedd
    %option{:value => "3"} Manas Technology

  %br

  %select.input-xlarge{:disabled => "disabled"}
    %option{:value => "1"} iLab
    %option{:value => "2"} Instedd
    %option{:value => "3"} Manas Technology

  %hr

  %h3 Text area

  %textarea.span5{:placeholder => "Write your comment here", :rows => "5"}

  %br

  %textarea.span5{:placeholder => "Write your comment here", :disabled => "disabled", :rows => "5"}

  %hr

  %h3 Breadcrumbs

  .row-fluid
    .span6

      - breadcrumb do
        - breadcrumb_item 'Root', '#'
        - breadcrumb_item 'Item', '#'
        - breadcrumb_item 'Detail'

  %hr

  %h3 State Display

  .row-fluid
    .span4
      .StateDisplay
        .values
          .U
            %span.big 8639
            %span 0 messages
        .action
          %button
            Download as CSV

  .row-fluid
    .span4
      .StateDisplay
        .values
          .L
            %span 30.75
            %span remaining
          .R
            %span 69.25
            %span used
          %br{:style => "clear:both"}
          .M
            %span.Fill{:style => "width:30%"}
        .action
          %button.orange
            Buy more credit

  .row-fluid
    .span4
      .StateDisplay
        .values.empty
          .L
            %span 0.00
            %span no remaining credit
          .R
            %span
          %br{:style => "clear:both"}
          .M
            %span
        .action
          %button.orange
            Buy more credit

  .row-fluid
    .span4
      .StateDisplay
        .values
          .L
            %span 182
            %span tasks done
          .R
            %span 14
            %span pending
          %br{:style => "clear:both"}
          .M
            %span.Fill{:style => "width:90%"}
        .action
          %button.orange
            Start recruiting

  .row-fluid
    .span4
      .StateDisplay
        .values.done
          .L
            %span 196
            %span tasks done
          .R
            %span
          %br{:style => "clear:both"}
          .M
            %span
        .action
          %button.disabled
            No pending tasks

  %hr

  %h3 Tabs

  .row-fluid
    .span12
      .tabbable
        %ul.nav.nav-tabs
          %li.active
            %a{"data-toggle" => "tab", :href => "#tab1"} Tab1
          %li
            %a{"data-toggle" => "tab", :href => "#tab2"} Tab2
          %li
            %a{"data-toggle" => "tab", :href => "#tab3"} Tab3
        .tab-content
          #tab1.tab-pane.active
            %p Section 1.
          #tab2.tab-pane
            %p Section 2.
          #tab3.tab-pane
            %p Section 3.

  %br
  %br


  .row-fluid
    .span12
      .tabbable.tabs-below
        .tab-content
          #tab1b.tab-pane.active
            %p Section 1.
          #tab2b.tab-pane
            %p Section 2.
          #tab3b.tab-pane
            %p Section 3.
        %ul.nav.nav-tabs
          %li.active
            %a{"data-toggle" => "tab", :href => "#tab1b"} Tab1
          %li
            %a{"data-toggle" => "tab", :href => "#tab2b"} Tab2
          %li
            %a{"data-toggle" => "tab", :href => "#tab3b"} Tab3

  %br
  %br

  .row-fluid
    .span12
      .tabbable.boxed
        %ul.nav.nav-tabs
          %li.active
            %a{"data-toggle" => "tab", :href => "#tab1c"} Tab1
          %li
            %a{"data-toggle" => "tab", :href => "#tab2c"} Tab2
          %li
            %a{"data-toggle" => "tab", :href => "#tab3c"} Tab3
        .tab-content
          #tab1c.tab-pane.active
            %p Section 1.
          #tab2c.tab-pane
            %p Section 2.
          #tab3c.tab-pane
            %p Section 3.

  %br
  %br

  .row-fluid
    .span12
      .tabbable.boxed.tabs-below
        .tab-content
          #tab1d.tab-pane.active
            %p Section 1.
          #tab2d.tab-pane
            %p Section 2.
          #tab3d.tab-pane
            %p Section 3.
        %ul.nav.nav-tabs
          %li.active
            %a{"data-toggle" => "tab", :href => "#tab1d"} Tab1
          %li
            %a{"data-toggle" => "tab", :href => "#tab2d"} Tab2
          %li
            %a{"data-toggle" => "tab", :href => "#tab3d"} Tab3


  %hr

  %h3 Steps Display

  .row-fluid
    .span12
      .steps-line
        %ul
          %li.active
            %span Step 1
          %li.active
            %span Step 2
          %li
            %span Step 3
          %li
            %span Step 4
          %li
            %span Step 5
        .progress
          %span{:style => "width:25%"}

  %br

  .row-fluid
    .span6
      .steps-line
        %ul
          %li.active
            %span Step 1
          %li.active
            %span Step 2
          %li.active
            %span Step 3
          %li.active
            %span Step 4
          %li.active
            %span Step 5
        .progress
          %span{:style => "width:100%"}

  %hr
  %h3 Simple List

  .row-fluid
    .span6

      - simple_list :application, icon: :folder, create_path: root_url do
        - simple_list_item 'Item 1', root_url
        - simple_list_item 'Item 1', root_url
        - simple_list_item 'Item 1', root_url

      - simple_list :application, icon: :folder, create_path: root_url do
        - if false
          %span not rendered content

    .span6
      - simple_list :big_reminder, icon: :pie do
        - if false
          - simple_list_item 'Item 1', root_url

      - simple_list :reminder do
        - if false
          - simple_list_item 'Item 1', root_url

      - simple_list :reminder, title: 'Awesome reminders' do
        - if false
          - simple_list_item 'Item 1', root_url

  %br
  %hr
  %h3 CRUD Lists

  .row-fluid
    .span6

      = link_to 'External Services sample', external_services_path

  %br
  %hr
  %h3 Buttons

  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th Button
        %th class=""
        %th Description
    %tbody
      %tr
        %td
          %button.btn{:type => "button"} Default
        %td
          %code btn
        %td Standard button with gradient
      %tr
        %td
          %button.btn.btn-primary{:type => "button"} Primary
        %td
          %code btn btn-primary
        %td Provides extra visual weight and identifies the primary action in a set of buttons
      %tr
        %td
          %button.btn.btn-success{:type => "button"} Success
        %td
          %code btn btn-success
        %td Indicates a successful or positive action
      %tr
        %td
          %button.btn.btn-info{:type => "button"} Info
        %td
          %code btn btn-info
        %td Used as an alternative to the default styles
      %tr
        %td
          %button.btn.btn-warning{:type => "button"} Warning
        %td
          %code btn btn-warning
        %td Indicates caution should be taken with this action
      %tr
        %td
          %button.btn.btn-danger{:type => "button"} Danger
        %td
          %code btn btn-danger
        %td Indicates a dangerous or potentially negative action
      %tr
        %td
          %button.btn.btn-inverse{:type => "button"} Inverse
        %td
          %code btn btn-inverse
        %td Alternate dark gray button, not tied to a semantic action or use
      %tr
        %td
          %button.btn.btn-link{:type => "button"} Link
        %td
          %code btn btn-link
        %td Deemphasize a button by making it look like a link while maintaining button behavior





  %br
  %hr
  %h3 Other Buttons Sizes

  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th Button
        %th class=""
        %th Description
    %tbody
      %tr
        %td
          %button.btn-mini{:type => "button"} Default Mini
        %td
          %code btn-mini
        %td Standard button mini size
      %tr
        %td
          %button.btn-mini.btn-primary{:type => "button"} Primary Mini
        %td
          %code btn-mini btn-primary
        %td Primary button mini size
      %tr
        %td
          %button.btn-mini.btn-success{:type => "button"} Success Mini
        %td
          %code btn-mini btn-success
        %td Success button mini size
      %tr
        %td
          %button.btn-mini.btn-info{:type => "button"} Info Mini
        %td
          %code btn-mini btn-info
        %td Info button mini size
      %tr
        %td
          %button.btn-mini.btn-warning{:type => "button"} Warning Mini
        %td
          %code btn-mini btn-warning
        %td Warning button mini size
      %tr
        %td
          %button.btn-mini.btn-danger{:type => "button"} Danger Mini
        %td
          %code btn-mini btn-danger
        %td Danger button mini size
      %tr
        %td
          %button.btn-mini.btn-inverse{:type => "button"} Inverse Mini
        %td
          %code btn-mini btn-inverse
        %td Inverse button mini size
      %tr
        %td
          %button.btn-small{:type => "button"} Default Small
        %td
          %code btn-small
        %td Standard button small size
      %tr
        %td
          %button.btn-small.btn-primary{:type => "button"} Primary Small
        %td
          %code btn-small btn-primary
        %td Primary button small size
      %tr
        %td
          %button.btn-small.btn-success{:type => "button"} Success Small
        %td
          %code btn-small btn-success
        %td Success button small size
      %tr
        %td
          %button.btn-small.btn-info{:type => "button"} Info Small
        %td
          %code btn-small btn-info
        %td Info button small size
      %tr
        %td
          %button.btn-small.btn-warning{:type => "button"} Warning Small
        %td
          %code btn-small btn-warning
        %td Warning button small size
      %tr
        %td
          %button.btn-small.btn-danger{:type => "button"} Danger Small
        %td
          %code btn-small btn-danger
        %td Danger button small size
      %tr
        %td
          %button.btn-small.btn-inverse{:type => "button"} Inverse Small
        %td
          %code btn-small btn-inverse
        %td Inverse button small size
      %tr
        %td
          %button.btn-large{:type => "button"} Default Large
        %td
          %code btn-large
        %td Standard button large size
      %tr
        %td
          %button.btn-large.btn-primary{:type => "button"} Primary Large
        %td
          %code btn-large btn-primary
        %td Primary button large size
      %tr
        %td
          %button.btn-large.btn-success{:type => "button"} Success Large
        %td
          %code btn-large btn-success
        %td Success button large size
      %tr
        %td
          %button.btn-large.btn-info{:type => "button"} Info Large
        %td
          %code btn-large btn-info
        %td Info button large size
      %tr
        %td
          %button.btn-large.btn-warning{:type => "button"} Warning Large
        %td
          %code btn-large btn-warning
        %td Warning button large size
      %tr
        %td
          %button.btn-large.btn-danger{:type => "button"} Danger Large
        %td
          %code btn-large btn-danger
        %td Danger button large size
      %tr
        %td
          %button.btn-large.btn-inverse{:type => "button"} Inverse Large
        %td
          %code btn-large btn-inverse
        %td Inverse button large size
      %tr
        %td
          %button.btn-block{:type => "button"} Default Block
        %td
          %code btn-block
        %td Width 100% (combinable with other sizes eg: 'btn-large')
      %tr
        %td
          %button.btn-block.btn-primary{:type => "button"} Primary Block
        %td
          %code btn-block btn-primary
        %td Width 100% (combinable with other sizes eg: 'btn-large')
      %tr
        %td
          %button.btn-block.btn-success{:type => "button"} Success Block
        %td
          %code btn-block btn-success
        %td Width 100% (combinable with other sizes eg: 'btn-large')
      %tr
        %td
          %button.btn-block.btn-info{:type => "button"} Info Block
        %td
          %code btn-block btn-info
        %td Width 100% (combinable with other sizes eg: 'btn-large')
      %tr
        %td
          %button.btn-block.btn-warning{:type => "button"} Warning Block
        %td
          %code btn-block btn-warning
        %td Width 100% (combinable with other sizes eg: 'btn-large')
      %tr
        %td
          %button.btn-block.btn-danger{:type => "button"} Danger Block
        %td
          %code btn-block btn-danger
        %td Width 100% (combinable with other sizes eg: 'btn-large')
      %tr
        %td
          %button.btn-block.btn-inverse{:type => "button"} Inverse Block
        %td
          %code btn-block btn-inverse
        %td Width 100% (combinable with other sizes eg: 'btn-large')

  %br
  %hr

  .row-fluid
    .span12
      %h3 Button dropdown menus

      .btn-group
        %button.btn.dropdown-toggle(data-toggle="dropdown")
          Action
          %span.caret
        %ul.dropdown-menu
          %li
            %a(href="#") Action
          %li
            %a(href="#") Another action
          %li.divider
          %li
            %a(href="#") Separated link

      - ["blue", "red", "green", "flat"].each do |color_class|
        .btn-group
          = icon_link_to :'icc-add', 'Add Service', '#', class: "btn btn-link #{color_class} dropdown-toggle", :'data-toggle' => "dropdown"
          %ul.dropdown-menu
            %li
              %a(href="#")
                %i.icf-facebook
                %span Facebook
            %li
              %a(href="#")
                %i.icf-twitter
                %span Twitter
            %li
              %a(href="#")
                %i.icf-rss
                %span Feed

  %br
  %hr

  .row-fluid
    .span12
      %h3 Carrousel for home page

      - feature_carrousel do
        / - feature_carrousel_item 'Design', image: image_path('instedd-bootstrap/header/logos/watchfire.png') do
        /   Lorem ipsum dolor sit amet
        - feature_carrousel_item 'Feature 1', image_class: 'icfl-database' do
          Lorem ipsum dolor sit amet
        - feature_carrousel_item 'Feature 2', image_class: 'icfl-cloud' do
          Lorem ipsum dolor sit amet
        - feature_carrousel_item 'Feature 3', image_class: 'icfl-directions' do
          Lorem ipsum dolor sit amet
        - feature_carrousel_item 'Feature 4', image_class: 'icfl-robot' do
          Lorem ipsum dolor sit amet
        - feature_carrousel_item 'Feature 5', image_class: 'icfl-building' do
          Lorem ipsum dolor sit amet
        - feature_carrousel_item 'Feature 6', image_class: 'icfl-bug' do
          Lorem ipsum dolor sit amet
        - feature_carrousel_item 'Feature 7', image_class: 'icfl-test' do
          Lorem ipsum dolor sit amet

  %br
  %hr

  %h3 Collapsible form for

  - collapsible_form_for '#', icon: 'import', title: 'Import application', description: 'Upload an .mba in order to import an application', submit: 'Import', id: 'import-form' do |f|
    %input#choose-file{:disabled => "disabled", :placeholder => "Choose File"}/
    .file-upload
      = icon_link_to :'icf-arrow', 'Choose a file', '#'
      %input.choose{:type => "file"}/

  %br
  %hr
