.span12
  %h1 Forms

  %hr

  %h3 Text Field

  %label Label
  %input.span4{:placeholder => "Type something…", :type => "text"}/

  %hr

  %h3 Pull down

  %select.span4
    %option 1
    %option 2
    %option 3
    %option 4
    %option 5

  %hr

  %h3 Text area

  %textarea.span4{:rows => "3"}

  %hr

  %h3 Wajbar

  .row-fluid
    .span4
      %textarea.ux-wajbar.span12{:rows => "3", :placeholder => "Type something…", :maxlength=>144}

  %br

  .row-fluid
    .span4.well-plain
      %textarea.ux-wajbar.span12{:rows => "3", :placeholder => "Type something…", :maxlength=>144}
  %br

  %button.btn Save
  %button.btn.btn-link Cancel
