.span12
  %h1 ICONS
  %hr
  %h3 Color icon buttons

  %button.btn-icon.blue
    %i.icc-add
  %button.btn-icon.red
    %i.icc-remove
  %button.btn-icon.green
    %i.icc-accept

  %hr

  %h3 Plain icon buttons

  .btn-grouped
    %button.btn-icon.plain
      %i.icp-block 
    %button.btn-icon.plain
      %i.icp-add
    %button.btn-icon.plain
      %i.icp-remove
    %button.btn-icon.plain
      %i.icp-close
    %button.btn-icon.plain
      %i.icp-previous
    %button.btn-icon.plain
      %i.icp-next
    %button.btn-icon.plain
      %i.icp-left
       
  %hr

  %h3 Fancy icon buttons

  .btn-grouped
    %button.btn-icon
      %i.icf-arrow
    %button.btn-icon
      %i.icf-facebook
    %button.btn-icon
      %i.icf-twitter
    %button.btn-icon
      %i.icf-user
    %button.btn-icon
      %i.icf-edit
    %button.btn-icon
      %i.icf-rss
    %button.btn-icon
      %i.icf-claim
    %button.btn-icon
      %i.icf-branch
    %button.btn-icon
      %i.icf-settings
    %button.btn-icon
      %i.icf-message
    %button.btn-icon
      %i.icf-close
    %button.btn-icon
      %i.icf-insert
    %button.btn-icon
      %i.icf-help
    %button.btn-icon
      %i.icf-record
    %button.btn-icon
      %i.icf-recording
    %button.btn-icon
      %i.icf-play
    %button.btn-icon
      %i.icf-pause
    %button.btn-icon
      %i.icf-stop
    %button.btn-icon
      %i.icf-stopped
    %button.btn-icon
      %i.icf-arrange
    %button.btn-icon
      %i.icf-uturn
    %button.btn-icon
      %i.icf-folder
    %button.btn-icon
      %i.icf-request
    %button.btn-icon
      %i.icf-apple
    %button.btn-icon
      %i.icf-windows
    %button.btn-icon
      %i.icf-android
    %button.btn-icon
      %i.icf-location
    %button.btn-icon
      %i.icf-export
    %button.btn-icon
      %i.icf-import
    %button.btn-icon
      %i.icf-merge
    %button.btn-icon
      %i.icf-leave
    %button.btn-icon
      %i.icf-configuration
    %button.btn-icon
      %i.icf-accept
    %button.btn-icon
      %i.icf-snapshot
    %button.btn-icon
      %i.icf-preview
    %button.btn-icon
      %i.icf-teach
    %button.btn-icon
      %i.icf-left
    %button.btn-icon
      %i.icf-right
    %button.btn-icon
      %i.icf-bug
    %button.btn-icon
      %i.icf-block
    %button.btn-icon
      %i.icf-phone
    %button.btn-icon
      %i.icf-add
    %button.btn-icon
      %i.icf-remove
    %button.btn-icon
      %i.icf-chat
    %button.btn-icon
      %i.icf-bulb
    %button.btn-icon
      %i.icf-print
    %button.btn-icon
      %i.icf-dial
    %button.btn-icon
      %i.icf-pdf
    %button.btn-icon
      %i.icf-delete
    %button.btn-icon
      %i.icf-search
    %button.btn-icon
      %i.icf-database
    %button.btn-icon
      %i.icf-excel
    %button.btn-icon
      %i.icf-csv
    %button.btn-icon
      %i.icf-linux
    %button.btn-icon
      %i.icf-ubuntu
    %button.btn-icon
      %i.icf-fullscreen
    %button.btn-icon
      %i.icf-restore
    %button.btn-icon
      %i.icf-share
    %button.btn-icon
      %i.icf-wizard
    %button.btn-icon
      %i.icf-sync
    %button.btn-icon
      %i.icf-number
    %button.btn-icon
      %i.icf-text
    %button.btn-icon
      %i.icf-xy
    %button.btn-icon
      %i.icf-singleoption
    %button.btn-icon
      %i.icf-multipleoptions
    %button.btn-icon
      %i.icf-tag
    %button.btn-icon
      %i.icf-hierarchy
    %button.btn-icon
      %i.icf-date
    %button.btn-icon
      %i.icf-site
    %button.btn-icon
      %i.icf-report
    %button.btn-icon
      %i.icf-yesno
    %button.btn-icon
      %i.icf-government
    %button.btn-icon
      %i.icf-key

  %hr
  
  %h3 Large icon buttons

  .btn-grouped
    %a.btn-iconlarge
      %i.icfl-text
    %a.btn-iconlarge
      %i.icfl-paragraph
    %a.btn-iconlarge
      %i.icfl-number
    %a.btn-iconlarge
      %i.icfl-location
    %a.btn-iconlarge
      %i.icfl-singleoption
    %a.btn-iconlarge
      %i.icfl-multipleoptions
    %a.btn-iconlarge
      %i.icfl-date
    %a.btn-iconlarge
      %i.icfl-groupchat
    %a.btn-iconlarge
      %i.icfl-alertandreport
    %a.btn-iconlarge
      %i.icfl-alert
    %a.btn-iconlarge
      %i.icfl-report
    %a.btn-iconlarge
      %i.icfl-excel
    %a.btn-iconlarge
      %i.icfl-csv
    %a.btn-iconlarge
      %i.icfl-snapshot
    %a.btn-iconlarge
      %i.icfl-xy
    %a.btn-iconlarge
      %i.icfl-help
    %a.btn-iconlarge
      %i.icfl-government
    %a.btn-iconlarge
      %i.icfl-hierarchy
    %a.btn-iconlarge
      %i.icfl-user
    %a.btn-iconlarge
      %i.icfl-language
    %a.btn-iconlarge
      %i.icfl-site
    %a.btn-iconlarge
      %i.icfl-building
    %a.btn-iconlarge
      %i.icfl-house
    %a.btn-iconlarge
      %i.icfl-barn
    %a.btn-iconlarge
      %i.icfl-factory
    %a.btn-iconlarge
      %i.icfl-mountain
    %a.btn-iconlarge
      %i.icfl-pine
    %a.btn-iconlarge
      %i.icfl-fire
    %a.btn-iconlarge
      %i.icfl-police
    %a.btn-iconlarge
      %i.icfl-medicalkit
    %a.btn-iconlarge
      %i.icfl-university
    %a.btn-iconlarge
      %i.icfl-tent
    %a.btn-iconlarge
      %i.icfl-hospital
    %a.btn-iconlarge
      %i.icfl-tunnel
    %a.btn-iconlarge
      %i.icfl-drop
    %a.btn-iconlarge
      %i.icfl-vaccine
    %a.btn-iconlarge
      %i.icfl-bell
    %a.btn-iconlarge
      %i.icfl-truck
    %a.btn-iconlarge
      %i.icfl-car
    %a.btn-iconlarge
      %i.icfl-bus
    %a.btn-iconlarge
      %i.icfl-train
    %a.btn-iconlarge
      %i.icfl-subway
    %a.btn-iconlarge
      %i.icfl-helicopter
    %a.btn-iconlarge
      %i.icfl-boat
    %a.btn-iconlarge
      %i.icfl-clark
    %a.btn-iconlarge
      %i.icfl-handtruck
    %a.btn-iconlarge
      %i.icfl-shoppingcart
    %a.btn-iconlarge
      %i.icfl-tag
    %a.btn-iconlarge
      %i.icfl-recyclable
    %a.btn-iconlarge
      %i.icfl-wheat
    %a.btn-iconlarge
      %i.icfl-biohazard
    %a.btn-iconlarge
      %i.icfl-balance
    %a.btn-iconlarge
      %i.icfl-anchor
    %a.btn-iconlarge
      %i.icfl-community
    %a.btn-iconlarge
      %i.icfl-family
    %a.btn-iconlarge
      %i.icfl-baby
    %a.btn-iconlarge
      %i.icfl-pregnant
    %a.btn-iconlarge
      %i.icfl-recreation
    %a.btn-iconlarge
      %i.icfl-dog
    %a.btn-iconlarge
      %i.icfl-bug
    %a.btn-iconlarge
      %i.icfl-flag
    %a.btn-iconlarge
      %i.icfl-test
    %a.btn-iconlarge
      %i.icfl-notebook
    %a.btn-iconlarge
      %i.icfl-printer
    %a.btn-iconlarge
      %i.icfl-robot
    %a.btn-iconlarge
      %i.icfl-delete
    %a.btn-iconlarge
      %i.icfl-key
    %a.btn-iconlarge
      %i.icfl-settings
    %a.btn-iconlarge
      %i.icfl-book
    %a.btn-iconlarge
      %i.icfl-antenna
    %a.btn-iconlarge
      %i.icfl-wifi
    %a.btn-iconlarge
      %i.icfl-markasfail
    %a.btn-iconlarge
      %i.icfl-onoff
    %a.btn-iconlarge
      %i.icfl-message
    %a.btn-iconlarge
      %i.icfl-unknown
    %a.btn-iconlarge
      %i.icfl-filter
    %a.btn-iconlarge
      %i.icfl-answer
    %a.btn-iconlarge
      %i.icfl-dial
    %a.btn-iconlarge
      %i.icfl-numeral
    %a.btn-iconlarge
      %i.icfl-microphone
    %a.btn-iconlarge
      %i.icfl-sound
    %a.btn-iconlarge
      %i.icfl-forwardcall
    %a.btn-iconlarge
      %i.icfl-callback
    %a.btn-iconlarge
      %i.icfl-bookmark
    %a.btn-iconlarge
      %i.icfl-cloud
    %a.btn-iconlarge
      %i.icfl-directions
    %a.btn-iconlarge
      %i.icfl-phone
    %a.btn-iconlarge
      %i.icfl-database
    %a.btn-iconlarge
      %i.icfl-faucet
    %a.btn-iconlarge
      %i.icfl-airplane
    %a.btn-iconlarge
      %i.icfl-gaspump
    %a.btn-iconlarge
      %i.icfl-box

  %hr
  
  %h3 Large Plain icon buttons

  .btn-grouped
    %a.btn-iconlarge.plain
      %i.icpl-hierarchy
    %a.btn-iconlarge.plain
      %i.icpl-settings
    %a.btn-iconlarge.plain
      %i.icpl-shakehands
    %a.btn-iconlarge.plain
      %i.icpl-users
    %a.btn-iconlarge.plain
      %i.icpl-key
    %a.btn-iconlarge.plain
      %i.icpl-shield
    %a.btn-iconlarge.plain
      %i.icpl-lock
    %a.btn-iconlarge.plain
      %i.icpl-text
    %a.btn-iconlarge.plain
      %i.icpl-number
    %a.btn-iconlarge.plain
      %i.icpl-label
    %a.btn-iconlarge.plain
      %i.icpl-thermometer
    %a.btn-iconlarge.plain
      %i.icpl-location
    %a.btn-iconlarge.plain
      %i.icpl-date
    %a.btn-iconlarge.plain
      %i.icpl-message
    %a.btn-iconlarge.plain
      %i.icpl-database
    %a.btn-iconlarge.plain
      %i.icpl-claim
    %a.btn-iconlarge.plain
      %i.icpl-pie
    %a.btn-iconlarge.plain
      %i.icpl-folder
    %a.btn-iconlarge.plain
      %i.icpl-yesno
    %a.btn-iconlarge.plain
      %i.icpl-twitter
    %a.btn-iconlarge.plain
      %i.icpl-facebook
    %a.btn-iconlarge.plain
      %i.icpl-bell
    %a.btn-iconlarge.plain
      %i.icpl-preview
    %a.btn-iconlarge.plain
      %i.icpl-medicalkit
    %a.btn-iconlarge.plain
      %i.icpl-wizard
    %a.btn-iconlarge.plain
      %i.icpl-groupchat
    %a.btn-iconlarge.plain
      %i.icpl-report
    %a.btn-iconlarge.plain
      %i.icpl-news
    %a.btn-iconlarge.plain
      %i.icpl-automatic
    %a.btn-iconlarge.plain
      %i.icpl-alert
    %a.btn-iconlarge.plain
      %i.icpl-rss
