.container
  .row
    %h1 Including images

    %br/

    %p
      Use <code>image-path</code> both in InSTEDD SASS files and in Application SASS files, for images in instedd-bootstrap path.

      %pre
        background-image: url(image-path("instedd-bootstrap/instedd-logo.png"));

    %br/

    %p
      %h4 Class defined in InSTEDD Bootstrap
      .instedd-logo

      %h4 Class defined in application stylesheet
      .dummyapp-instedd-logo