<!DOCTYPE html>
<html>
<head>
  <title>InsteddBootstrap</title>
  <%= stylesheet_link_tag    "instedd-bootstrap/application", :media => "all" %>
  <%= javascript_include_tag "instedd-bootstrap/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
