.container-fluid
  .row-fluid
    .span12
      %br
      .hero-unit
        %h1 Welcome to InSTEDD Bootstrap
        %p InSTEDD Bootstrap is a Bootstrap theme for all InSTEDD applications.
        %hr
        %h1 Samples
        %ul
          - @files.each do |file|
            %li= link_to file.titleize, example_path(view: file)

  .row-fluid
    .span12
      - feature_carrousel do
        - feature_carrousel_item 'Design', image: image_path('/assets/instedd-bootstrap/header/logos/watchfire.png') do
          your SMS application in minutes without programming
        - feature_carrousel_item 'Design', image_class: 'icfl-cloud' do
          your SMS application in minutes without programming
